<!DOCTYPE html>
<html>
<head>

  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./youtube-styles/general.css">
  <link rel="stylesheet" href="./youtube-styles/header.css">
  <link rel="stylesheet" href="./youtube-styles/video.css">
  <link rel="stylesheet" href="./youtube-styles/sidebar.css">
</head>
<body>

  <header class="header">
    <!-- Left Section -->
    <div class="left-section">
      <img class="hamburger-menu" src="./youtube-icons/hamburger-menu.svg">
      <img class="youtube-logo" src="./youtube-icons/youtube-logo.svg">
    </div>

    <!-- Middle Section -->
    <div class="middle-section">
      <input class="search-bar" type="text" placeholder="Search">
      <button class="search-button">
        <img class="search-icon" src="./youtube-icons/search.svg">
        <div class="tooltip">Search</div>
      </button>
      <button class="voice-search-button">
        <img class="voice-search-icon" src="./youtube-icons/voice-search-icon.svg">
        <div class="tooltip">Search with your voice</div>
      </button>
    </div>

    <!-- Right Section -->
    <div class="right-section">
      <div class="upload-icon-container">
        <img class="upload-icon" src="./youtube-icons/upload.svg" alt="">
        <div class="tooltip">Create</div>
      </div>
      <div class="youtube-apps-icon-container">
        <img class="youtube-apps-icon" src="./youtube-icons/youtube-apps.svg" alt="">
        <div class="tooltip">Youtube Apps</div>
      </div>
      <div class="notifications-icon-container">
        <img class="notifications-icon" src="./youtube-icons/notifications.svg" alt="">
        <div class="notifications-count">3</div>
        <div class="tooltip">Notifications</div>
      </div>
      <div>
        <img class="current-user-picture" src="./channel-pictures/my-channel.jpeg" alt="">

      </div>
    </div>
  </header>
  
  <nav class="sidebar">
    <div class="sidebar-link">
      <img src="./youtube-icons/home.svg" alt="home">
      <div><%= home %></div>
    </div>
    <div class="sidebar-link">
      <img src="./youtube-icons/explore.svg" alt="explore">
      <div><%= explore %></div>
    </div>
    <div class="sidebar-link">
      <img src="./youtube-icons/subscriptions.svg" alt="subscriptions">
      <div><%= subscriptions %> </div>
    </div>
    <div class="sidebar-link">
      <img src="./youtube-icons/originals.svg" alt="originals">
      <div><%= originals %></div>
    </div>
    <div class="sidebar-link">
      <img src="./youtube-icons/youtube-music.svg" alt="youtube_music">
      <div><%= youtubeMusic %></div>
    </div>
    <div class="sidebar-link">
      <img src="./youtube-icons/library.svg" alt="library">
      <div><%= library %> </div>
    </div>
  </nav>

  
  <main>
    <section class="video-grid">
      <% youtubers.forEach((youtuber) => {%> 
        <div class="video-preview">
          <div class="thumbnail-row">
            <a href="<%= youtuber.videoLink %>" target="_blank">
              <img class="thumbnail" src=<%= youtuber.thumbnail %> >
            </a>
            <div class="video-time"><%= youtubers.videoTime %></div>
          </div>
      
          <div class="video-info-grid">
            <div class="channel-picture">
              <div class="profile-picture-container">
                <a href="<%= youtuber.channelLink %>" target="_blank">
                  <img class="profile-picture" src=<%= youtuber.profilePicture %>>
                </a>
                <div class="tooltip">
                  <img class="profile-picture" id="tooltip-profile-picture" src=<%= youtuber.profilePicture %>>
                  <div class="tooltip-text">
                    <div class="tooltip-video-author"><strong><%= youtuber.videoAuthor %> </strong></div>
                    <div class="tooltip-total-subs"><%= youtuber.totalSubs %> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="video-info">
              <p class="video-title">
                <a href="<%= youtuber.videoLink %>" target="_blank"><%= youtuber.videoTitle %> </a>
              </p>
              <p class="video-author">
                <%= youtuber.videoAuthor %>
              </p>
              <p class="video-stats">
                <%= youtuber.videoStats %> 
              </p>
            </div>
          </div>
        </div>
      <% }) %> 
    </section>
  </main>
  

</body>
</html>